.seta-menu {
  width: 170px;
  float: left;
  height: 14px;
  background: black;
  margin-top: 58px;
}

.seta-menu::after, .seta-menu::before {
  content: '';
  display: block;
  height: 13px;
  width: 10px;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 7px solid black;
}

.seta-menu::before {
  margin-left: -10px;
  float: left;
}

.seta-menu::after {
  float: right;
  border-right: 7px solid white;
}

#menu-principal {
  float: right;
}

#menu-principal ul {
  list-style: none;
  margin: 0;
}

#menu-principal li {
  display: inline-block;
  float: left;
}

.lnk-menu {
  width: 130px;
  height: 130px;
  display: block;
  background: url(../../img/menu-logango.png) #813434;
  background-size: contain;
  color: white;
  padding-top: 56px;
  margin: 0 1px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  transition: 0.15s;
}

.btn-vermelho {
  background-color: #B63535;
  color: white;
  text-decoration: none;
}

.lnk-menu:hover, .page-home .lnk-home, .page-escritorio .lnk-escritorio, .page-equipe .lnk-equipe, .page-solucoes .lnk-solucoes, .page-contato .lnk-contato {
  @extend .btn-vermelho;
}

@media (min-width: 411px) {
  #btn-menu-rpsv {
    display: none;
  }
}