
.titulos-losango {
  background: url(../../img/losangos-titulo.png) no-repeat;
  float: left;
  color: white;
  height: 340px;
  padding: 151px 10px 0 0;
  margin-right: 3%;
  font-size: 25px;
  text-align: center;
  width: 240px;
}

.barra-divisora {
  height: 3px;
  margin: 30px 0;
}