#rodape {
  text-align: center;
  padding: 15px 0 15px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.contact-info {
  display: block;
  font-size: 17px;
  font-weight: 500;
}

.copyright {
  font-size: 13px;
}