.conteudo-textos {
  float: right;
  padding-right: 30px;
  font-size: 19px;
  margin-bottom: 40px;
}

.conteudo-textos .barra-divisora {
  margin-right: -30px;
}

.titulos-vermelhos {
  color: #FF0000;
  margin: 0;
  font-size: 19px;
}